<div class="header" id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul id="menu">
          <!-- <li><img src="/src/assets/logo.jpg" alt="msg" height="10px"></li> -->
          <li><a routerLink="" routerLinkActive="active" href="">Home</a></li>
          <li><a routerLink="/project" href="">Projects</a></li>
          <li><a routerLink="books" routerLinkActive="active" href="">List Of Prerequisite</a></li>
          <li><a routerLink="/about" href="">About Us</a></li>
          <li><a routerLink="/admin" href="">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


