<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <p class="copyright mt-3"> Copyright @2020 | All rights are reserved</p>
      </div>
      <div class="col-md-6">
          <ul id="socialicons" class="float-md-right mt-2">
              <li><a href="" class="fa fa-facebook-official"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-instagram"></a></li>
              <li><a href="" class="fa fa-github"></a></li>
          </ul>
      </div>
  </div>
  </div>
</div>
