<div  id="banner">
    <img src='/assets/1.jpg' alt="tyu">
</div>


<div class="container section">
  <div class="row">
      <div class="col-md-12">
          <h2 class="section-head text-center my-3">Services</h2>
      </div>
      <div class="col-md-4">
          <div class="service-box text-center">
              <img src="/assets/webad.png" alt="">
              <h5>Web Application Devlopment</h5>
              <p>Build web applications that scale easily and effortlessly with your business requirements and flexibility of schedule.</p>
          </div>
      </div>
      <div class="col-md-4">
        <div class="service-box text-center">
          <img src="/assets/mobad.png" alt="">
          <h5>Mobile App Devlopment</h5>
          <p>Develop mobile applications using native or hybrid technologies like ionic, react native with best user experience.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box text-center">
          <img src="/assets/ui.png" alt="">
          <h5>Mobile App Devlopment</h5>
          <p>Our design development services include user research, wireframe design, UI
            prototyping and UI development.
          </p>
        </div>
      </div>
  </div>
</div>


<div class="foot">
<app-footer></app-footer>
</div>

